target/
**/target/
.git/
.github/
.vscode/
.DS_Store
.idea/
*.iml
scripts/
jftest/
shell.nix
main.json
urls.json
pkg/
*.md
!jellyfin-rpc-cli/README.md
!jellyfin-rpc/README.md
Dockerfile
.dockerignore
docker-compose.yml
docker-compose.yaml
docker-compose.headless.yml
.env
.env.example
arrpc/
firefox-config/
config/
